<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>International Labour Day.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8B292E51C888D6D00776C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8B292F91C888D6E00776C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8B293041C888D6E00776C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
